backtrader==1.9.76.123
hmmlearn==0.2.7
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.4
pandas-ta==0.3.14b
plotly==5.10.0
python-dotenv==0.21.0
pytz==2022.2.1
requests==2.28.1
scikit-learn==1.1.2
streamlit==1.12.2
